body {
  margin: 0;
  background-color: rgb(200, 200, 200);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: rgb(230, 230, 230);
  border-radius: 1rem;
  min-width: 100px;

  margin-left: 3rem;
  margin-right: 3rem;
  /* padding: 2.5%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container-item {
  background-color: white;
  border-radius: 0.7rem;

  display: flex;

  justify-content: center;
  align-items: center;

  /* height: 500px;
  width: 320px; */
  height: auto;
  width: auto;
  max-width: 300px;
  min-width: 180px;

  margin: 60px;
}

.container-item:hover {
  cursor: pointer;
}

#opened-card {
  text-align: center;
  background-color: transparent;
  border: none;
  color: darkslategray;
  width: auto;
  height: auto;
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 30%;
  right: 30%;
  transition: visibility 0.2s, opacity 0.2s linear;
  perspective: 2000px;
}

#new-card-form {
  font-size: 1rem;
  border-radius: 15px;
  padding: 15px;
  background-color: silver;
  color: rgb(53, 80, 80);
  width: auto;
  height: auto;
  position: fixed;
  top: 13%;
  bottom: 13%;
  left: 15%;
  right: 15%;

  transition: visibility 0.2s, opacity 0.2s linear;
}

label {
  padding: 0 10px;
}
fieldset {
  border-color: black;
}

#opened-card > .card {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;

  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container .front,
.container .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
.container .front {
  padding: 50px;
}

#opened-card .front,
#opened-card .back {
  background-color: lightgrey;
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #opened-card .back { */
.back {
  transform: rotateY(180deg);
}

.btn-new-card-form {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: cornsilk;
  border-color: gray;
  border-radius: 15px;
  padding: 1.2rem 2.5rem;
  /* height: 100px;
  width: 300px; */
}

.btn-new-card-form:hover {
  background-color: rgb(255, 255, 255);
}

@media (min-width: 200px) {
  :root {
    font-size: 0.7rem;
  }
}

@media (min-width: 350px) {
  :root {
    font-size: 0.9rem;
  }
}

@media (min-width: 800px) {
  :root {
    font-size: 1.1rem;
  }
}

/* 
@media (min-width: 800px) {
  :root {
    font-size: 0.7rem;
  }
}

@media (min-width: 1080px) {
  :root {
    font-size: 0.5rem;
  }
} */
